.BracketSquareContainer {
    border: 2px solid orange;
    display: flex;
    /* width: 3300px;
    height: 2550px; */
    overflow: scroll;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-between;

}
.BracketSquare {
    border: 1px dotted blue;
    display: flex;
    height: 20px;
    width: 150px;
    justify-content: center;
    align-items: flex-end;
    font-size: 0.7em;
}

.HoldsItem {
    border-bottom: 3px solid black;
}

.InsideLeft {
    border-right: 3px solid black;
}
.InsideRight {
    border-left: 3px solid black;
}

.ButtonSquare {
    background-color: yellow;
}