*{
    margin: 0px;
}
/* .BracketView {
    border: 2px solid darkcyan;
    display: flex;
    width: 96%;

} */

.BracketSquareContainer {
    background-color: rgb(235, 235, 235);
    border: 2px solid orange;
    display: flex;
    /* width: 3300px;
    height: 2550px; */
    overflow: scroll;
    flex-flow: row wrap;
}

.BracketSquare {
    /* border: 1px dotted blue; */
    display: flex;
    height: 20px;
    width: 150px;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-end;
    font-size: 0.7em;
}

.HoldsItem {
    border-bottom: 3px solid black;
}

.InsideLeft {
    border-right: 3px solid black;
}

.InsideRight {
    border-left: 3px solid black;
}

/* .ButtonSquare {
    background-color: yellow;
}

.ChampButtons {
    background-color: pink;
} */

.BracketSquareContainer button {
    background-color: black;
    color: orange;
    font-size: .8em;
    font-weight: bolder;
    height: 20px;
    width: 20px;
}
