.ListSection {
    display: flex;
    flex-flow: row wrap;
}

.ListCard {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px
}

.ListItems {
    border: 1px dotted green;
    display: flex;
    flex-direction: column;
    height: 200px;
    overflow-y: scroll;
}

.ItemSection {
    background-color: pink;
    border: 1px dotted gold;
    display: flex;
    min-height: 20px;
    justify-content: space-between;
    align-items: center;

}