.NavBar {
    background-color: #028090;
    display: flex;
    flex-direction: row;
    height: 20vh;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

.NavBarLogo {
    box-sizing: border-box;
    background-image: url('../../images/BrackItLogo.svg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 100%;
    width: 40%;
}

.HeaderWelcome {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #F0F3BD;
    min-height: 100%;
    width: 30%;

}

.NavBarLinks {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    width: 30%;
    padding:15px;
    box-sizing: border-box;
    color: #F0F3BD;
    font-size: 18px;
    font-weight: bold;
}

.NavBarLinks button {
    cursor: pointer;
    color: #F0F3BD;
    font-size: 18px;
    font-weight: bold;
    background-color: #028090;
    border: none;
}