.SideBar{
    /* border: 2px solid green; */
    background-color: #044B67;
    color: white;
    width: 12vw;
    height: 76vh;
    box-sizing: border-box;
    position: fixed;
    bottom: 4vh;
    left: 0;
}