.SideBar{
    /* border: 2px solid green; */
    background-color: #0021A5;
    color: white;
    width: 15vw;
    height: 74vh;
    box-sizing: border-box;
    position: fixed;
    bottom: 6vh;
    left: 0;
}