.Footer {
    background-color: #044B67;
    color: #F0F3BD;
    width: 100vw;
    height: 4vh;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .6em;
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
    background-image: url('../../images/BrackItFooter.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -2px;
    background-position-y: 0px;
    display: flex;
}
