/* Colors:
1) HEX F2F2F2 - Off White
2) HEX 000000 - Black
3) HEX 001B9C - Dark Blue
4) HEX FF9D00 - Orange
5) HEX 0021A5 - Electric Blue
*/

* {
  margin: 0px;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}